@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.menu-container {
  @include user-select-none;
  display: flex;
  align-items: center;
  width: calc(100% - 8px);
  height: 100%;
  padding-right: 8px;
  .menu-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 622px;
  }
  .menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 178px;
  }
  .menu-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menu-separator {
    width: 8px;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 8px;
    border-left: 1px solid $led-disable-color;
  }
}

// .menu-container {
//   @include user-select-none;
//   display: flex;
//   align-items: center;
//   width: calc(100% - 8px);
//   height: 100%;
//   padding-right: 8px;
//   .menu-left {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     width: 108px;
//     height: 100%;
//   }
//   .menu-build {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     width: 358px;
//     height: 100%;
//   }
//   .menu-game {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     width: 212px;
//     height: 100%;
//   }
//   .menu-right {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     width: 72px;
//     height: 100%;
//   }
//   .menu-separator {
//     width: 8px;
//     height: calc(100% - 2px);
//     margin-bottom: 2px;
//     margin-left: 8px;
//     border-left: 1px solid $led-color;
//   }
//   .menu-item {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0 2px;
//     span {
//       font-family: monospace;
//       font-size: 12px;
//       color: $led-dim-color;
//     }
//     .small-input {
//       width: 27px;
//       margin: 0 14px 0 7px;
//     }
//     &.form {
//       margin-left: 24px;
//     }
//   }
// }
