<div class="menu-container">
  <div class="menu-left">
    <div class="menu-item-container">
      <div class="menu-item" *ngFor="let btn of menu.display">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled" [tooltip]="btn.tooltip" (action)="displayAction(btn.actionId)"></app-button>
      </div>
    </div>
    <div class="menu-separator"></div>
    <div class="menu-item-container">
      <div class="menu-item" *ngFor="let btn of menu.zoom">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled" [tooltip]="btn.tooltip" (action)="zoomAction(btn.actionId)"></app-button>
      </div>
    </div>
    <div class="menu-separator"></div>
  </div>
  <div class="menu-right">
    <div class="menu-item-container">
      <div class="menu-item" *ngFor="let btn of menu.edit">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled" [tooltip]="btn.tooltip" (action)="editAction(btn.actionId)"></app-button>
      </div>
    </div>
    <div class="menu-separator"></div>
    <div class="menu-item-container">
      <div class="menu-item" *ngFor="let btn of menu.tools">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled" [tooltip]="btn.tooltip" (action)="toolAction(btn.actionId)"></app-button>
      </div>
    </div>
    <div class="menu-separator"></div>
    <div class="menu-item-container">
      <div class="menu-item" *ngFor="let btn of menu.selector">
        <app-button [icon]="btn.icon" [led]="btn.mode === menu.mode" [disabled]="btn.disabled" [tooltip]="btn.tooltip" (action)="modeAction(btn.mode)"></app-button>
      </div>
    </div>
    <div class="menu-separator"></div>
    <div class="menu-item-container">
      <div class="menu-item" *ngIf="!playing">
        <app-button [icon]="menu.play[0].icon" [led]="menu.play[0].led" [disabled]="menu.play[0].disabled" [tooltip]="menu.play[0].tooltip" (action)="gameAction(menu.play[0].actionId)"></app-button>
      </div>
      <div class="menu-item" *ngIf="playing">
        <app-button [icon]="menu.play[1].icon" [led]="menu.play[1].led" [disabled]="menu.play[1].disabled" [tooltip]="menu.play[1].tooltip" (action)="gameAction(menu.play[1].actionId)"></app-button>
      </div>
    </div>
    <div class="menu-item-container">
      <div class="menu-item" *ngFor="let btn of menu.game">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled" [tooltip]="btn.tooltip" (action)="gameAction(btn.actionId)"></app-button>
      </div>
    </div>
    <div class="menu-separator"></div>
  </div>
</div>
