<div class="menu-container">
  <div class="menu-fixed">
    <div class="menu-item" *ngFor="let btn of menu.fixed">
      <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip"></app-button>
    </div>
  </div>
  <div class="menu-separator"></div>
  <div class="menu-mode" *ngIf="menu.mode === 0"></div>
  <div class="menu-mode" *ngIf="menu.mode === 1">
    <div class="menu-item" *ngFor="let btn of menu.game;">
      <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip" (action)="gameAction(btn.actionId)"></app-button>
    </div>
    <div class="menu-item form" *ngIf="displaySpeedInput">
      <span>Gen/s (1-200):</span>
      <app-input class="small-input" type="number" maxLength="3" [parentForm]="gameForm" controlName="speed"></app-input>
      <app-button icon="close" (action)="speedInputCancel()"></app-button>
      <app-button icon="check" [disabled]="gameForm.invalid" (action)="speedInputUpdate()"></app-button>
    </div>
  </div>
  <div class="menu-mode" *ngIf="menu.mode === 2">
    <div class="menu-item" *ngFor="let btn of menu.build">
      <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip"></app-button>
    </div>
  </div>
  <div class="menu-separator"></div>
  <div class="menu-selector">
    <div class="menu-item" *ngFor="let btn of menu.selector">
      <app-button [icon]="btn.icon" [led]="btn.mode === menu.mode" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip" (action)="mode(btn.mode)"></app-button>
    </div>
  </div>
</div>
