<div class="menu-container">
  <div class="menu-left">
    <div class="menu-item-container">
      <div class="menu-item" *ngFor="let btn of menu.display">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip" (action)="displayAction(btn.actionId)"></app-button>
      </div>
    </div>
    <div class="menu-separator"></div>
    <div class="menu-item-container">
      <div class="menu-item" *ngFor="let btn of menu.zoom">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip" (action)="zoomAction(btn.actionId)"></app-button>
      </div>
    </div>
    <div class="menu-separator" *ngIf="menu.mode === 1"></div>
    <div class="menu-item-container" *ngIf="menu.mode === 1">
      <div class="menu-item" *ngFor="let btn of menu.tools">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip" (action)="toolAction(btn.actionId)"></app-button>
      </div>
    </div>
    <div class="menu-separator"></div>
    <div class="menu-item-container" *ngIf="menu.mode === 1">
      <div class="menu-item" *ngFor="let btn of menu.edit">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip"></app-button>
      </div>
    </div>
    <div class="menu-separator" *ngIf="menu.mode === 1"></div>
    <div class="menu-item-container" *ngIf="menu.mode === 1">
      <div class="menu-item" *ngFor="let btn of menu.file">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip"></app-button>
      </div>
    </div>
  </div>
  <div class="menu-right">
    <div class="menu-separator" *ngIf="menu.mode === 0"></div>
    <div class="menu-item-container" *ngIf="menu.mode === 0">
      <div class="menu-item" *ngFor="let btn of menu.game">
        <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip" (action)="gameAction(btn.actionId)"></app-button>
      </div>
    </div>
    <div class="menu-separator"></div>
    <div class="menu-item-container">
      <div class="menu-item" *ngFor="let btn of menu.selector">
        <app-button [icon]="btn.icon" [led]="btn.mode === menu.mode" [disabled]="btn.disabled || blocked" [tooltip]="btn.tooltip" (action)="selectMode(btn.mode)"></app-button>
      </div>
    </div>
  </div>
</div>
