@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.menu-container {
  @include user-select-none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  .menu-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 376px;
    .menu-item {
      span {
        font-family: monospace;
        font-size: 12px;
        font-style: italic;
        color: $led-color;
      }
    }
  }
  .menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 452px;
  }
  .menu-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menu-separator {
    width: 8px;
    height: 30px;
    margin-left: 8px;
    border-left: 1px solid $led-off-color;
  }
}
