@import '../../../assets/styles/variables';

.icon-container {
  display: inline-block;
  width: 24px;
  height: 24px;
  svg {
    fill: $led-color;
  }
  &:hover {
    svg {
      fill: $led-dim-color;
    }
  }
  &:active {
    svg {
      fill: $led-on-color;
    }
  }
  &.disable {
    svg {
      fill: $led-disable-color;
    }
  }
  &.led {
    svg {
      fill: $led-on-color;
    }
  }
}
