@import '../../../assets/styles/variables';

.icon-container {
  display: inline-block;
  width: 24px;
  height: 24px;
  svg {
    fill: $led-color;
  }
  &.led {
    svg {
      fill: $led-on-color;
    }
  }
}
