<div class="menu-container">
  <div class="menu-fixed">
    <div class="menu-item" *ngFor="let btn of menu.fixed">
      <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled"></app-button>
    </div>
  </div>
  <div class="menu-separator"></div>
  <div class="menu-mode" *ngIf="menu.mode === 0"></div>
  <div class="menu-mode" *ngIf="menu.mode === 1">
    <div class="menu-item" *ngFor="let btn of menu.game;">
      <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled"></app-button>
    </div>
  </div>
  <div class="menu-mode" *ngIf="menu.mode === 2">
    <div class="menu-item" *ngFor="let btn of menu.build">
      <app-button [icon]="btn.icon" [led]="btn.led" [disabled]="btn.disabled"></app-button>
    </div>
  </div>
  <div class="menu-separator"></div>
  <div class="menu-selector">
    <div class="menu-item" *ngFor="let btn of menu.selector">
      <app-button [icon]="btn.icon" [led]="btn.mode === menu.mode" [disabled]="btn.disabled" (action)="mode(btn.mode)"></app-button>
    </div>
  </div>
</div>
