<div class="universe-view">
  <canvas
    #cells
    class="m-40 grid-background"
  ></canvas>
  <canvas
    #panel
  ></canvas>
  <canvas
    #control
    class="m-40"
    (pointerdown)="panelClick($event)"
    (pointerup)="releaseClick($event)"
    (pointermove)="panUniverse($event)"
    (pointerout)="releaseClick($event)"
    (wheel)="changeScale($event)"
  ></canvas>
</div>
<div class="universe-panel" *ngIf="cfg">
  <div class="panel">
    <div class="menu">
      <app-menu
        [playing]="playing"
        [config]="cfg"
        [disableQuickSave]="!loadedId || !hasChanges"
        (gameMode)="gameMode($event)"
        (display)="toggleDisplay($event)"
        (zoom)="toggleZoom($event)"
        (edit)="selectEdit($event)"
        (tool)="selectTool($event)"
        (playback)="playback($event)"
      ></app-menu>
    </div>
    <div class="info" [ngClass]="{'led': infoLeds}" >
      <div class="fps">
        <span>{{ cfg.speed | number:'3.0-0' }}</span>
        <span *ngIf="!fps">000</span>
        <span [ngStyle]="{'color': fps >= cfg.speed ? '#009933' : '#cc0000', 'opacity': infoLeds ? '1' : '0.5'}" *ngIf="fps">{{ fps | number:'3.0-0' }}</span>
      </div>
      <div class="disp">
        <span>GEN</span>
        <span>{{ ticks }}</span>
      </div>
      <div class="disp">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M16 10h-2v2h2v-2zm0 4h-2v2h2v-2zm-8-4H6v2h2v-2zm4 0h-2v2h2v-2zm8-6H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-1 14H5c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h14c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1z"/>
        </svg>
        <span>{{ population }}</span>
      </div>
    </div>
  </div>
  <div class="universe-modal" *ngIf="showLifeModal">
    <app-modal
      [type]="modalType"
      [config]="cfg"
      (exit)="showLifeModal = false"
      (colorsUpdate)="updateColors($event)"
      (lifeLoad)="loadLife($event)"
      (lifeSave)="saveLife($event)"
    ></app-modal>
  </div>
  <div class="universe-popup" *ngIf="showLifePopup">
    <app-popup
      [type]="popupType"
      [speed]="cfg.speed"
      (exit)="showLifePopup = false"
      (confirm)="popupConfirm($event)"
    ></app-popup>
  </div>
</div>
