<div class="universe-view">
  <canvas
    #cells
    class="m-40 grid-background"
  ></canvas>
  <canvas
    #panel
  ></canvas>
  <canvas
    #control
    class="m-40"
    (pointerdown)="panelClick($event)"
    (pointerup)="releaseClick($event)"
    (pointermove)="panUniverse($event)"
    (pointerout)="releaseClick($event)"
    (wheel)="changeScale($event)"
  ></canvas>
</div>
<div class="universe-panel" *ngIf="cfg">
  <div class="panel">
    <div class="menu">
      <app-menu></app-menu>
    </div>
    <div class="info">
      <div class="info-item">
        <app-button icon="timer" (click)="play = !play"></app-button>
        <div class="fps">
          <span>{{ cfg.speed | number:'3.0-0' }}</span>
          <span *ngIf="!fps">000</span>
          <span [ngStyle]="{'color': fps >= cfg.speed ? '#009933' : '#cc0000'}" *ngIf="fps">{{ fps | number:'3.0-0' }}</span>
        </div>
      </div>
      <div class="info-item generation">
        <span>{{ ticks }}</span>
      </div>
    </div>
  </div>
</div>
