@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.universe-view {
  @include user-select-none;
  position: relative;
  top: 0;
  left: 0;
  width: 1040px;
  height: 800px;
  background-color: $ruler-color;
  canvas {
    position: absolute;
  }
  .m-40 {
    margin: 40px;
  }
  .grid-background {
    background-color: $grid-background;
  }
}
.universe-panel {
  position: absolute;
  top: 800px;
  left: 0;
  width: 1026px;
  height: 40px;
  padding: 0px 7px;
  background-color: $panel-color;
  .panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1026px;
    height: calc(100% - 8px);
    padding: 4px 0;
    border-top: 1px solid #333333;
    .menu {
      width: 935px;
      height: 100%;
    }
    .info {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 90px;
      height: calc(100% - 2px);
      margin-bottom: 2px;
      border-left: 1px solid $led-color;
      font-family: monospace;
      font-size: 12px;
      color: $led-color;
      .fps {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        margin-right: 12px;
      }
      .generation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 20px;
        width: 48px;
        border: 1px solid $led-color;
        border-radius: 5px;
        span {
          margin-right: 4px;
        }
      }
    }
  }
}
