@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.universe-view {
  @include user-select-none;
  position: relative;
  top: 0;
  left: 0;
  width: 1040px;
  height: 800px;
  background-color: $ruler-color;
  canvas {
    position: absolute;
  }
  .m-40 {
    margin: 40px;
  }
  .grid-background {
    background-color: $grid-background;
  }
}
.universe-panel {
  @include user-select-none;
  position: absolute;
  top: 800px;
  left: 0;
  width: 1040px;
  height: 40px;
  background-color: $panel-color;
  .panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1020px;
    height: calc(100% - 8px);
    padding: 3px 9px;
    border: 1px solid $led-color;
    border-radius: 5px;
    .menu {
      width: 834px;
      height: 100%;
    }
    .info {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 186px;
      height: 100%;
      font-family: monospace;
      font-size: 12px;
      color: $led-off-color;
      .fps {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
      }
      .disp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        width: 74px;
        margin-left: 7px;
        border: 1px solid $led-off-color;
        border-radius: 5px;
        span {
          margin: 0 4px;
        }
        svg {
          fill: $led-off-color;
        }
      }
      .info-tooltip {
        position: absolute;
        top: -25px;
        left: 25px;
        display: none;
        justify-content: center;
        align-items: center;
        width: 136px;
        height: 25px;
        color: $led-on-color;
        font-family: monospace;
        font-size: 12px;
        background-color: #000000;
        border-radius: 5px;
        box-shadow: 0px 0px 1px 1px $led-color;
        opacity: 0;
      }
      &:hover {
        .info-tooltip {
          display: flex;
          animation: fade-in 240ms ease-out;
          animation-fill-mode: forwards;
          animation-delay: 500ms;
        }
      }
      &.led {
        color: $led-dim-color;
        .disp {
          border: 1px solid $led-dim-color;
          svg {
            fill: $led-dim-color;
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    top: -25px;
    opacity: 0;
  }
  70% {
    top: -36px;
  }
  100% {
    top: -36px;
    opacity: 0.75;
  }
}
