<div class="universe-view">
  <canvas
    #cells
    class="m-40 grid-background"
  ></canvas>
  <canvas
    #panel
  ></canvas>
  <canvas
    #control
    class="m-40"
    (pointerdown)="panelClick($event)"
    (pointerup)="releaseClick($event)"
    (pointermove)="panUniverse($event)"
    (pointerout)="releaseClick($event)"
    (wheel)="changeScale($event)"
  ></canvas>
</div>
<div class="universe-panel" *ngIf="cfg">
  <div class="panel">
    <div class="info">
      <div class="info-item">
        <app-button (click)="play = !play" icon="timer" [led]="play"></app-button>
        <span>{{ ticks | number:'6.0-0'}}</span>
      </div>
      <div class="info-item">
        <app-icon icon="speed"></app-icon>
        <span *ngIf="!fps || fps >= cfg.speed">{{ cfg.speed | number:'3.0-0' }} fps</span>
        <span style="color: #cc0000" *ngIf="fps < cfg.speed">{{ fps | number:'3.0-0' }} fps</span>
      </div>
    </div>
    <div class="menu">
      <app-menu></app-menu>
    </div>
  </div>
</div>
