<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <span class="title">{{ type | titlecase }}</span>
      <app-button icon="exit" (action)="exit.emit()"></app-button>
    </div>
    <div class="modal-body" *ngIf="type !== 'colors'">
      <div class="new-item" *ngIf="type === 'save'">
        <app-input type="text" [parentForm]="modalForm" controlName="name" maxLength="24" (click)="selectFile()"></app-input>
      </div>
      <div class="list-header">
        <span>Name</span>
        <span>Pop.</span>
        <span>Size</span>
        <span>Last Update</span>
      </div>
      <div class="item-list" [ngClass]="{'load-h': type === 'load'}">
        <div class="item" [ngClass]="{'highlight': selected === uniIdx}" (click)="selectFile(uniIdx)" *ngFor="let uni of config.universes; let uniIdx = index">
          <p class="name">{{ uni.name }}</p>
          <p class="pop">{{ uni.pop }}</p>
          <p class="size">{{ uni.size[0] }} x {{ uni.size[1] }}</p>
          <p class="date">{{ uni.lastUpdate | date }}</p>
          <app-button icon="delete" (action)="deleteFile(uniIdx)"></app-button>
        </div>
      </div>
    </div>
    <div class="modal-body" [ngClass]="{'hide': type !== 'colors', 'colors': type === 'colors'}">
      <div class="control" [formGroup]="modalForm" *ngIf="type === 'colors'">
        <div class="form-control">
          <span>Alive</span>
          <input type="color" formControlName="alive" (change)="updatePreviewer()">
        </div>
        <div class="form-control">
          <span>Dead</span>
          <input type="color" formControlName="dead" (change)="updatePreviewer()">
        </div>
        <div class="form-control">
          <span>Grid</span>
          <input type="color" formControlName="grid" (change)="updatePreviewer()">
        </div>
        <div class="form-control">
          <span>Ruler</span>
          <input type="color" formControlName="lines" (change)="updatePreviewer()">
        </div>
        <div class="form-control">
          <app-button label="RESET" (click)="resetColors()"></app-button>
        </div>
      </div>
      <div class="preview">
        <canvas #previewer></canvas>
      </div>
    </div>
    <div class="modal-footer">
      <app-button icon="check" (action)="updateColors()" *ngIf="type === 'colors'"></app-button>
      <app-button icon="check" (action)="loadFile()" *ngIf="type === 'load'"></app-button>
      <app-button icon="check" (action)="saveFile()" *ngIf="type === 'save'"></app-button>
    </div>
  </div>
</div>