<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <span class="title">{{ type === 'RLE' ? type : type | titlecase }}{{ type === 'save' ? ' as' : '' }}</span>
      <app-button icon="exit" (action)="exit.emit()"></app-button>
    </div>
    <div class="modal-body" *ngIf="type === 'load' || type === 'save'">
      <div class="new-item" *ngIf="type === 'save'">
        <app-input type="text" [parentForm]="modalForm" controlName="name" maxLength="20" (click)="selectFile()"></app-input>
        <span *ngIf="config.universes.length > 0">or choose one below to overwrite its data.</span>
      </div>
      <div class="list-header">
        <span>Name</span>
        <span>Pop.</span>
        <span>Size</span>
        <span>Last Update</span>
      </div>
      <div class="item-list" [ngClass]="{'load-h': type === 'load'}">
        <div class="no-item" *ngIf="config.universes.length === 0">
          <p>No Patterns</p>
        </div>
        <div class="item" [ngClass]="{'highlight': selected === uniIdx}" (click)="selectFile(uniIdx)" *ngFor="let uni of config.universes; let uniIdx = index">
          <p class="name">{{ uni.name }}</p>
          <p class="pop">{{ uni.pop }}</p>
          <p class="size">{{ uni.size[0] }} x {{ uni.size[1] }}</p>
          <p class="date">{{ uni.lastUpdate | date }}</p>
          <app-button icon="delete" (action)="deleteFile(uniIdx)"></app-button>
        </div>
      </div>
    </div>
    <div class="modal-body" [ngClass]="{'hide': type === 'load' || type === 'save', 'row': type === 'colors' || type === 'RLE'}">
      <div class="control" [formGroup]="modalForm" *ngIf="type === 'colors'">
        <div class="form-control">
          <span>Alive</span>
          <input type="color" formControlName="alive" (change)="updatePreviewer()">
        </div>
        <div class="form-control">
          <span>Dead</span>
          <input type="color" formControlName="dead" (change)="updatePreviewer()">
        </div>
        <div class="form-control">
          <span>Grid</span>
          <input type="color" formControlName="grid" (change)="updatePreviewer()">
        </div>
        <div class="form-control">
          <span>Ruler</span>
          <input type="color" formControlName="lines" (change)="updatePreviewer()">
        </div>
        <div class="form-control">
          <p>Themes</p>
          <div class="theme-list">
            <app-button icon="night" (click)="resetColors(0)"></app-button>
            <app-button icon="contrast" (click)="resetColors(1)"></app-button>
            <app-button icon="translate" (click)="resetColors(2)"></app-button>
          </div>
        </div>
      </div>
      <div class="rle" *ngIf="type === 'RLE'">
        <div class="rle-form column">
          <p class="info">Import Pattern RLE</p>
          <p class='eg'>e.g.: x = 3, y = 3, rule = B3/S23 3o$2bo$bo!</p>
        </div>
        <div class="rle-form mini-header">
          <p>Paste</p>
          <p>Modify</p>
          <p>Draw</p>
        </div>
        <div class="rle-form">
          <app-input type="text" [parentForm]="modalForm" controlName="rle"></app-input>
          <app-button icon="rotate" [led]="rlePreview.rleReady" [disabled]="!rlePreview.rleReady" (click)="rotatePattern()"></app-button>
          <app-button icon="flip" [led]="rlePreview.rleReady" class="rotated" [disabled]="!rlePreview.rleReady" (click)="flipPatternX()"></app-button>
          <app-button icon="flip" [led]="rlePreview.rleReady" [disabled]="!rlePreview.rleReady" (click)="flipPatternY()"></app-button>
          <app-button icon="draw" [led]="rlePreview.rleReady" [disabled]="!rlePreview.rleReady" (click)="startRle()"></app-button>
        </div>
        <div class="rle-form mini-header">
          <p>Export {{ exportRle.name }}:</p>
          <a id="downloadRle" download="{{ exportRle.name }}.rle">RLE</a>
          <a id="downloadTxt" download="{{ exportRle.name }}.txt">TXT</a>
        </div>
      </div>
      <div class="preview">
        <canvas #previewer></canvas>
      </div>
    </div>
    <div class="modal-footer">
      <app-button icon="check" (action)="updateColors()" *ngIf="type === 'colors'"></app-button>
      <app-button icon="check" (action)="loadFile()" *ngIf="type === 'load'"></app-button>
      <app-button icon="check" (action)="saveFile()" *ngIf="type === 'save'"></app-button>
    </div>
  </div>
</div>