<div class="popup-container">
  <div class="popup-content">
    <div class="popup-body" *ngIf="type !== 'speed'">
      <p>Unsaved changes will be lost.</p>
      <p *ngIf="type === 'new'">Confirm?</p>
    </div>
    <div class="popup-body" *ngIf="type === 'speed'">
      <div class="form-control">
        Game Speed [fps]:
        <app-input type="number" [parentForm]="popupForm" controlName="speed" maxLength="3"></app-input>
      </div>
    </div>
    <div class="popup-footer">
      <app-button icon="exit" (action)="exit.emit()" *ngIf="type !== 'load'"></app-button>
      <app-button icon="check" (action)="popupConfirm()"></app-button>
    </div>
  </div>
</div>
