
$panel-color: var(--panel-color);
$led-color: var(--led-color);
$led-disable-color: var(--led-disable-color);
$led-dim-color: var(--led-dim-color);
$led-on-color: var(--led-on-color);
$ruler-color: var(--ruler-color);
$ruler-label: var(--ruler-label);
$grid-background: var(--grid-background);
